@import "../_SassLib/breakpoints";

.header {
  background-repeat: no-repeat;

  &_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 1%;
    grid-template-areas: ". searchBox searchBox searchBox searchBox searchBox searchBox searchBox searchBox searchBox searchBox .";
    padding: 0 2%;
    height: 100%;
    align-items: center;

    @include breakpoint($small) {
      grid-template-areas: "searchBox searchBox searchBox searchBox searchBox searchBox searchBox searchBox searchBox searchBox searchBox searchBox";
    }

    @include breakpoint($medium) {
      grid-template-areas: "searchBox searchBox searchBox searchBox searchBox searchBox searchBox searchBox searchBox searchBox searchBox searchBox";
    }

    &_wrapper {
      grid-area: searchBox;
      display: flex;
      align-items: center;
    }
  }
}

