@import "../colors";
@import "../breakpoints";

@mixin _12-columns-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 1%;

  margin: 0 2%;
  height: 100%;

  $mobilePadding: 0.2%;

  @include breakpoint($small) {
    grid-template-columns: $mobilePadding 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr $mobilePadding;
  }

  @include breakpoint($medium) {
    grid-template-columns: $mobilePadding 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr $mobilePadding;
  }

}

.mainGrid {
  @include _12-columns-grid;
  grid-template-areas: ". contentBox contentBox contentBox contentBox contentBox contentBox contentBox contentBox contentBox contentBox .";

  &_contentBox {
    grid-area: contentBox;
    background-color: $paper-white;
    border-radius: 4px;
    margin-bottom: 100px;
  }
}

.detailsGrid {
  @include _12-columns-grid;
  grid-template-areas: ". contentBox contentBox contentBox contentBox contentBox contentBox contentBox contentBox contentBox contentBox .";

  &_contentBox {
    grid-area: contentBox;
    background-color: $paper-white;
    border-radius: 4px;
    padding-bottom: 32px;
    margin-bottom: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 500px 1fr;
    column-gap: 1%;
    grid-template-areas:
      "imagBox imagBox imagBox imagBox imagBox imagBox imagBox infoBox infoBox infoBox"
      "descBox descBox descBox descBox descBox descBox descBox descBox descBox descBox";

    @mixin detailsGridSmallDevices {
      grid-template-columns: 5% 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 5%;
      grid-template-rows: auto auto auto;
      align-items: start;
      grid-template-areas:
        ". imagBox imagBox imagBox imagBox imagBox imagBox imagBox imagBox ."
        ". infoBox infoBox infoBox infoBox infoBox infoBox infoBox infoBox ."
        ". descBox descBox descBox descBox descBox descBox descBox descBox .";
      padding-bottom: 0;
    }

    @include breakpoint($small) {
      @include detailsGridSmallDevices;
    }

    @include breakpoint($small-landscape) {
      @include detailsGridSmallDevices;
    }
  }

}
