@import "../_SassLib/colors";
@import "../_SassLib/breakpoints";

.SearchItem {

  display: grid;
  grid-template-columns: auto auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 1%;

  grid-template-areas:
    "imagBox imagBox infoBox infoBox infoBox infoBox infoBox infoBox cityBox cityBox";

  cursor: pointer;
  border-bottom: 1px solid $light-grey;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;

  @include breakpoint($small-portrait) {
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "imagBox imagBox imagBox imagBox imagBox imagBox imagBox imagBox imagBox imagBox"
      "infoBox infoBox infoBox infoBox infoBox infoBox infoBox infoBox infoBox infoBox"
      "cityBox cityBox cityBox cityBox cityBox cityBox cityBox cityBox cityBox cityBox";
    justify-items: start;
  }

  &:hover {
    background-color: lighten( $light-grey, 4% );
  }

  &:last-child {
    border-bottom: none;
  }

  &_picture {
    grid-area: imagBox;
    width: 100%;
    margin: 16px 0;
    outline: none;
    align-items: center;

    @include breakpoint($large) {
      width: 180px;
      height: auto;
      min-height: 180px;
      margin: 16px 0 16px 16px;
    }

    img {
      width: 100%;
      height: auto;
      max-height: 180px;
      object-fit: scale-down;
      border-radius: 4px !important;
    }
  }

  &_info {
    grid-area: infoBox;
    margin: 0 16px 0 0;

    @include breakpoint($small) {
      margin: 0 16px;
    }

    &_title {
      font-weight: 100;
      font-size: 18px;
      word-break: break-word;
    }
  }

  &_city {
    grid-area: cityBox;
    padding: 32px 0;
    font-size: 12px;
    color: $grey;
    @include breakpoint($small) {
      margin: 0 16px;
    }
  }
}
