.search-box {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 4px;

  &__field {
    background: white;
    width: 100%;
    padding: 7px 60px 9px 15px;
    border: 0 rgba(0,0,0,.2);
    outline: 0;
  }

  &__submit-button {
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(/images/search_icon.svg);
    background-color: #EEEEEE;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    border: none;
    cursor: pointer;
    height: 35px;
    padding-left: 27px;
    vertical-align: middle;
    font-size: 18px;
    outline: none;
  }
}
