@import '../../node_modules/breakpoint-sass/stylesheets/breakpoint';

/*============================================================================
  #Breakpoint > https://github.com/at-import/breakpoint/wiki/
==============================================================================*/

$viewportIncrement: 1px;


$medium: 768px; /* IPads and real good phones :) */
$medium-hd: ( min-width $medium + $viewportIncrement ) (orientation portrait); /* Large screens on Tablets, at least an iPad Pro */
$large: 1024px; /* First Desktop */
$extra-large: min-width 1200px; /* Usually desktop computers and High definition LapTops, until TVS */
$ultra-hd: min-width 2400px; /* Ultra wide and 4k, 8k */

$tiny: 320px; /* tiny screens like iPhone 4, Galaxy S and others old smart phones... */
$iPhone6: 375px; /* iPhone 6 only - width 375px  */
$small-portrait: (max-width 480px) (orientation portrait); /* Anything smaller than an iPad on portrait */
$small-landscape: (max-width $medium - $viewportIncrement) (orientation landscape); /* Anything smaller than an iPad? */
$small: $small-portrait, $small-landscape; /* Anything smaller than an iPad, doesnt matter orientation */
$small-key-on: (max-width $medium)(max-height 479px); /* Anything small with keyboard opened */
