@import "../_SassLib/breakpoints";
@import "../_SassLib/colors";

.categories-breadcrumb {
  font-size: 14px;
  background: transparent;
  display: grid;
  grid-template-rows: auto;
  $mobilePadding: 0.2%;
  grid-template-columns: $mobilePadding 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr $mobilePadding;
  grid-template-areas: ". BreadGrid BreadGrid BreadGrid BreadGrid BreadGrid BreadGrid BreadGrid BreadGrid BreadGrid BreadGrid .";
  column-gap: 1%;
  margin: 0 2%;
  height: 100%;

  @include breakpoint($small) {
    margin-bottom: 16px;
  }

  &_container {
    grid-area: BreadGrid;
  }

  &_item{
    display: inline-block;
    margin: 0 15px;
    padding: 16px 0;
    color: $grey;

    @include breakpoint($small) {
      display: none;
    }

    &:before {
      content: " > ";
      position: relative;
      left: -13px;
      top: 1px;
      width: 10px;
      height: 10px;
      color: grey;
    }

    &:first-child {
      &:before {
        content: "";
        display: none;
      }
    }

    &:last-child {
      font-weight: 600;
    }
  }
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". BreadGrid BreadGrid BreadGrid BreadGrid BreadGrid BreadGrid BreadGrid BreadGrid BreadGrid BreadGrid .";
}

.BreadGrid { grid-area: BreadGrid; }
